@tailwind base;
@tailwind components;
@tailwind utilities;
.raja{
    width: 100%;
    max-width: 50%;
    margin: 50px auto;
    box-shadow: 5px 5px 10px black;
    color: orange;
    background-color: gray;
    
    
    
}
.btc{
    display: flex;
}
.inpt{
    width: 100%;
    padding: 10px 20px;
}